$font-family: "Poppins", sans-serif;
$heading-font: 'Sen', sans-serif;

$cream-bg: #e5e5e5;
$gray-bg: #3685fb0d;
$primary-color: #3685fb;

$text-color: #52575F;
$heading-color: #05101F;

$body-bg: #E5E5E5;
$hero-bg: linear-gradient(131.1deg, rgba(54, 133, 251, 0.05) 0%, rgba(54, 133, 251, 0) 73.29%);
$package-bg: linear-gradient(131.1deg, rgba(54, 133, 251, 0.05) 0%, rgba(54, 133, 251, 0.03) 73.29%);
$newsletter-bg: #F5F9FF;
$footer-bg: #0E2241;

$transform-matrix: matrix(1, 0, 0, -1, 0, 0);